@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
	background: rgba(42,46,57, 10);
	color: #1b1b32;
	font-family: Monospace;
	margin: 0;
  color: white;
  width: 99vw;
  height: 99vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  list-style-type: none;
  text-align: center;
  width: 100vw;
  
}

#logo {
  padding: 0.5rem;
}

ul a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}

nav {
  width: 50%;
	max-width: 800px;
	height: 60px;
  margin-right: auto;
  margin-left: auto;
}

nav > ul {
  display: flex;
	justify-content: space-evenly;
  flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
  font-size: 20px;
  list-style-type: none;
  text-align: center;
  
  
}

li:hover {
  background-color: #ABAB64;
  color: #2a2e39;
  cursor: pointer;  
}

#about {
  background-color: #f3f3f9;
  margin-top: 100vh;
  height: 100vh;
  width: 100vw;
  color: #2a2e39;
  text-align: center;
  font-size: 2.5rem;
  box-shadow: 0px -20px 15px #f3f3f9;
}
/*Color Scheme: #2a2e39 (background), #f3f3f9, #ABAB64 (yellow) */

#portfolio {
  background-color: #2a2e39;
  margin-top: -16px;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  
}

#contact {
  background-color: white;
  margin-top: -16px;
  height: 150vh;
  width: 100vw;
  text-align: center;
  font-size: 2.5rem;
  color: #2a2e39;
  box-shadow: 0px -20px 15px #f3f3f9;
}

footer {
  width: 100vw;
  height: 30vh;
  background: #f4f3f0;
  margin-top: -80px;
  color: black;
  text-align: center;
  padding-top: 5px;
}

#h4-footer {
  margin-top: -18px;
}

.form {
  width: 30vw;
  border-radius: 100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  font-family: cursive;
}
ul {
  list-style: none;
  margin-top: -10px;
}

form {
  text-align: center;
  padding-bottom: 0px;
}

input[class="name"]
{
  margin-top: 100px;
  width: 350px;
  height: 20px;
  color: black;
  border-radius: 10px;
}

input[class="email"]
{
  width: 350px;
  border-radius: 10px;
}

input[class="subject"]
{
  width: 350px;
  height: 20px;
  color: black;
  margin-bottom: 40px;
  border-radius: 10px;
}

textarea {
  border-radius: 10px;
  margin-bottom: -50px;
}

h3  {
  font-family: cursive;
  font-size: 1.5rem;
  text-align: center;
}

.feelfree {
  margin-bottom: -50px;
  font-size: 2.0rem;
}
